<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Impedimento</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="/css/index.css" media="all" />
    <link rel="stylesheet" href="/fontawesome_free_6_3_0/all.min.css" media="all">
</head>
<body>
    <div th:replace="navbar/navbar :: navbar"></div>
    <div id="conteudo" class="container-fluid">

        
        <div id="cabecalhoCorpo">
            <header>IMPEDIMENTO</header>
        </div>

        <div id="filtros" class="col-10">
            <div class="row">
                <label for="matricula" class="col-auto col-form-label fw-bold">Magistrado:</label>
                <div class="col-9">
                    <div class="row">
                        <div class="input-group">
                            <div class="col-2">
                                <input type="text" class="form-control" id="MATRICULA" placeholder="Matrícula">
                            </div>
                            <div class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" id="NOME" placeholder="Nome">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <p class="mb-0"><strong>DICA:</strong> Informe o magistrado desejado para vizualizar pessoas que geram impedimento.</p>
                </div>
            </div>
        </div>

        <div id="botoesFiltro" class="col-10">
            <div class="row">
                <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Pesquisar</button>
                <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Limpar</button>
                <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Imprimir</button>
                <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Cancelar/Fechar</button>
            </div> 
        </div>


        <div id="cabecalhoCorpo" class="mt-5">
            <header>PESSOAS RELACIONADAS</header>
        </div>

        <div id="resultadoConsulta" class="col-10">

            <div class="col-3 mb-3" id="botoesGrid">
                <button type="button" class="btn btn-primary btn-sm col-auto me-3" data-bs-toggle="modal" data-bs-target="#modalEditarImpedimento">Adicionar</button>
                <button type="button" class="btn btn-secondary btn-sm col-auto me-3" data-bs-toggle="modal" data-bs-target="#modalEditarImpedimento">Editar</button>
                <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Excluir</button>
            </div>

            <table class="table table-striped table-hover table-bordered">
            <tbody>
                <tr>
                    <th class="coluna-selecionar">Selecionar</th>
                    <th>Pessoa</th>
                    <th>Motivo</th>
                    <th>Tipo</th>
                    <th>Observação</th>
                </tr>

                <tr>
                    <td><input type="radio" name="pessoaRelacionada" value="1"></td>
                    <td>Andre Arnal Perenzi</td>
                    <td>ART. 135 do CPC</td>
                    <td>Advogado</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</td>
                </tr>
                <tr>
                    <td><input type="radio" name="pessoaRelacionada" value="2"></td>
                    <td>Andre Arnal Perenzi</td>
                    <td>ART. 135 do CPC</td>
                    <td>Advogado</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</td>
                </tr>
                <tr>
                    <td><input type="radio" name="pessoaRelacionada" value="3"></td>
                    <td>Andre Arnal Perenzi</td>
                    <td>ART. 135 do CPC</td>
                    <td>Advogado</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</td>
                </tr>
            </tbody>
            </table>
        </div>

    </div>

    <div th:replace="modais/modal_editar_impedimento:: modal_editar_impedimento"></div>

    <div th:replace="modais/modal_selecionar_pessoa :: modal_selecionar_pessoa (modalAnterior='modalEditarImpedimento')"></div>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery/jquery-3.6.4.min.js"></script>
    <script src="jquery_mask/jquery.mask.min.js"></script>
    <script src="js/mascara.js"></script>
    <script src="js/alterar_pessoa.js"></script>
    <script src="/fontawesome_free_6_3_0/all.min.js"></script>
</body>
</html>
