<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Principal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all" />
  </head>
  <body>
    <div th:replace="navbar/navbar :: navbar"></div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery/jquery-3.6.4.min.js"></script>
  </body>
</html>
