<!-- importante a pagina que imcorpora este fragmento também deve incorporar o modal_selecionar_pessoa -->
<div th:fragment="modal_editar_impedimento" class="modal fade" id="modalEditarImpedimento" tabindex="-1"
    aria-labelledby="modalEditarImpedimento" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADICIONAR/EDITAR IMPEDIMENTO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div id="filtros" class="col-10">
                        <div class="row">
                            <label for="inputPassword" class="col-auto col-form-label fw-bold">Magistrado:</label>
                            <div class="col-9">
                                <div class="row">
                                    <div class="input-group">
                                        <div class="col-2">
                                            <input type="password" class="form-control" id="MATRICULA" placeholder="Matrícula">
                                        </div>
                                        <div class="input-group-text" data-bs-toggle="modal" data-bs-target="#modalSelecionarPessoa">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </div>
                                        <div class="col-8">
                                            <input type="password" class="form-control" id="NOME" placeholder="Nome">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <p class="mb-0"><strong>DICA:</strong> Informe o magistrado desejado para vizualizar pessoas
                                    que geram impedimento.</p>
                            </div>
                        </div>
                    </div>
    
                    <div id="botoesFiltro" class="col-10">
                        <div class="row">
                            <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Pesquisar</button>
                            <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Limpar</button>
                            <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Imprimir</button>
                            <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Cancelar/Fechar</button>
                        </div>
                    </div>

                </form>


                <div id="cabecalhoCorpo" class="mt-5">
                    <header>PESSOAS RELACIONADAS</header>
                </div>

                <div id="resultadoConsulta" class="col-10">

                    <div class="col-6 mb-3" id="botoesGrid">
                        <button type="button" class="btn btn-primary btn-sm col-auto me-3">Adicionar</button>
                        <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Editar</button>
                        <button type="button" class="btn btn-secondary btn-sm col-auto me-3">Excluir</button>
                    </div>

                    <table class="table table-striped table-hover table-bordered">
                        <tbody>
                            <tr>
                                <th class="coluna-selecionar">Selecionar</th>
                                <th>Pessoa</th>
                                <th>Motivo</th>
                                <th>Tipo</th>
                                <th>Observação</th>
                            </tr>

                            <tr>
                                <td><input type="radio" name="pessoaRelacionada" value="1"></td>
                                <td>Andre Arnal Perenzi</td>
                                <td>ART. 135 do CPC</td>
                                <td>Advogado</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="pessoaRelacionada" value="2"></td>
                                <td>Andre Arnal Perenzi</td>
                                <td>ART. 135 do CPC</td>
                                <td>Advogado</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="pessoaRelacionada" value="3"></td>
                                <td>Andre Arnal Perenzi</td>
                                <td>ART. 135 do CPC</td>
                                <td>Advogado</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Cancelar/Voltar</button>
            </div>
        </div>
    </div>
</div>