<!-- importante a pagina que imcorpora este fragmento também deve incorporar o modal_selecionar_pessoa -->
<div th:fragment="modal_editar_impedimento" class="modal fade" id="modalEditarImpedimento" tabindex="-1"
    aria-labelledby="modalEditarImpedimento" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DADOS DO IMPEDIMENTO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="conteudoFormulario" class="col-12">
                    <form>
                        <div class="row align-items-start">
                            <div class="mb-0">
                                <p><strong>Magistrado: ANNIBAL DE REZENDE LIMA</strong></p>
                            </div>
                            <div class="mb-1 row align-items-start">
                                <label for="pessoa" class="form-label col-2">Pessoa:</label>
                                <!-- <input type="text" class="col-4" id="pessoa" style="width: 31%;">
                                <div class="col-1" style="width: 3%;">
                                    <img class="icone-pesquisa" src="icons/search.svg">
                                </div> -->
                                <div class="col-4">
                                    <div class="row">
                                        <div class="input-group pe-0 ps-0">
                                            <input type="text" class="form-control" id="pessoa">
                                            <div class="input-group-text" data-bs-toggle="modal" data-bs-target="#modalSelecionarPessoa">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="mb-1 row align-items-start">
                                <label for="motivo" class="form-label col-2">Motivo:</label>
                                <div class="col-4 pe-0 ps-0">
                                    <select name="motivo" id="motivo" class="form-control">
                                        <option value=""></option>
                                        <option value="motivo1">Motivo 1</option>
                                        <option value="motivo2">Motivo 2</option>
                                        <option value="motivo3">Motivo 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-1 row align-items-start">
                                <label for="tipo" class="form-label col-2">Tipo:</label>
                                <div class="col-4 pe-0 ps-0">
                                    <select name="tipo" id="tipo" class="form-control">
                                        <option value=""></option>
                                        <option value="tipo1">Tipo 1</option>
                                        <option value="tipo2">Tipo 2</option>
                                        <option value="tipo3">Tipo 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-1 row align-items-start">
                                <label for="observacao" class="form-label col-2">Observação:</label>
                                <div class="col-4 pe-0 ps-0">
                                    <textarea name="observacao" id="observacao" cols="30" rows="7" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Cancelar/Voltar</button>
            </div>
        </div>
    </div>
</div>